 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Copypasta makes its way around the Internet as users copy and paste text blurbs in social media that appear to be spam but are posted by human users. Our ebooks are selected for publication with concern only for the human appeal of the complete work. When an author finishes a book, they often seek acceptance by a traditional publisher like us. However, we don't adhere to predetermined publishing goals. We make publishing a book as simple as writing it. We have an unlimited supply of books to publish from upcoming authors, while we build a great library for Copypasta Publishing.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <!-- Favicons-->
       <link href="/static/materialize.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/static/materialize.js"></script>
</head>